<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
    <title> {% block title %}{% endblock %}</title>
</head>
<body> 
    <nav class="navbar navbar-dark justify-content-end">
    <a class="navbar-brand" href="#">&#128029 Flask Spellingbee &#128029</a>
    <a class="basenavlink nav-item nav-link active" href="/">Home</a>
    <!-- <a href="/clear">clear the session</a>
    <a href="/spellingbee/users">User Directory</a>
    <a href="/base">Base Template</a> -->
    {% if session["user_id"] %}
    <a class="basenavlink nav-item nav-link active" href="/spellingbee/logout">Logout</a>
    <a class="basenavlink nav-item nav-link active" href="/spellingbee/users/{{session['user_id']}}">User Hub</a>
    {%else%}
    <a class="basenavlink nav-item nav-link active" href="/spellingbee/loginsignup">Login/Signup</a>
    {%endif%}
    {% if session["game_id"] !='empty' and session["user_id"] %}
    <a class="basenavlink nav-item nav-link active" href="/spellingbee/users/{{session['user_id']}}/game/{{session['game_id']}}/hints">Hints</a>
    </nav>
    {%endif%}    <!-- <h1 id="basewelcome"> Welcome to Flask Spellingbee &#128029 &#128029 </h1> -->
    <main id="content"> {%block content%}{% endblock %} 
    {% with messages= get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="messages">
    {% for category,msg in messages %}
    <p class="{{category}}">{{category}}: {{msg}}</p>
    {% endfor %}
    </section>
    {%endif%}
    {%endwith%}
  </main>
    
    
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="
https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js
"></script>

    <script src="/static/app.js"></script>
</body>
</html>
