{% extends "base.html" %}
{% block title %} Cupcakes Visualized {% endblock %}
{% block content %}

<h4>Look at these foodie pics!</h4>


<div class="row justify-content-start ">
{% for cupcake in cupcakes %}

   
        <div class="col-sm-2">
            <img class="img-thumbnail"  src="{{cupcake.image}}" alt=" RIP cupcake image was supposed to go here">
            <p class="text-info font-italic"><b>Flavor:</b> {{cupcake.flavor}}</p>
            {% if cupcake.rating>=8 %}
            <p class="text-success font-italic "> <b>Rating:</b> {{cupcake.rating}}</p>
            {% elif cupcake.rating >=5 %}
            <p class="text-warning font-italic "><b>Rating:</b> {{cupcake.rating}}</p>
            {% else %}
            <p class="text-danger font-italic "><b>Rating:</b> {{cupcake.rating}}</p>
            {% endif %}
            <p class="text-info font-italic "><b>Size:</b> {{cupcake.size}}</p>
        </div> 
    

{% endfor %}
    </div>

<ul id="messagecontainer"></ul>


<p>Thanks for browsing!</p>
    
{%endblock%}