{% extends "base.html" %}
{% block title %} Spellingbee {% endblock %}
{% block content %}

<div id=hintscontentcontainer>
    <div id="hintsheaderscontainer">
    <h1 id="hintsh1">Spellingbee Hints!</h1>
    <h3>Stuck on a puzzle? I can help! I hope?</h3>
    <img id="hintheaderimage" src="https://assets.answersingenesis.org/img/cms/content/contentnode/header_image/honeybees-ones-of-gods-sweetest-designs.jpg" alt="honeycomb.jpeg">
    </div>
    <div class="hintstextcontainer">
        <p class="hintstext">Hello User! Welcome to Flask Spellingbee! My name is Michael Ellis and I am glad that you have discovered my rendition of this game!
            This is my project for Springboard Capstone 1, and I'm very proud to share it with everyone! This is a game that is based on the New York Times
            wordbuilder game the Spellingbee! For those unfamilar with the game the rules are posted below, alongside a glossary of game terms.
            <b class="hintstext">Scroll down for rules, glossary of terms and ranks, and finally for the hints!</b>
        </p>
    </div>
    <button class="btn btn-warning" type="button" id="togglebuttonruleshints">
        Click to display/hide game rules
    </button>
    <div id="rulescontainerhints">
        <h1 id="rulesheader">Game Rules</h1>
        <h3 id="rulessubheader">Create words from the pool of letters in the hive!</h3>
        <li class="rulesli">Each word must include the center letter</li>
        <li class="rulesli">Letters can be used more than once</li>
        <li class="rulesli">Score points by making words!</li>
        <li class="rulesli">Each word's point value is equal to its length</li>
        <li class="rulesli">Score more points to increase your rank for a given game</li>
        <li class="rulesli">Ranks are based on your percentage of points scored out of the total points available for a given hive!</li>
        <li class="rulesli">Hives/Gameboards vary because they are randomly generated! Some have many words that can be created, others might only have a few!</li>
        <li class="rulesli">If you're feeling stuck you can always check out the hints page for your current Hive/board! <a href="/spellingbee/users/{{user_id}}/game/{{game_id}}/hints">Hints...but since you are on the hints page you will just end up back here &#128029 </a></li>
        <li class="rulesli">If you get stuck or get sick of your current letters, you can always start a new game from your user hub! You can revisit your games at anytime!</li>
    </div>

    <button class="btn btn-warning" type="button" id="togglebuttonglossary">
        Click to display/hide Glossary
    </button>

    <div id="hintsglossarycontainer">
        <img id=hintsimgglossary src="https://tinypic.host/images/2024/04/07/honeycomb.jpeg" alt="honeycomb.jpeg">
        <h3 class="hintheader">Glossary of Terms</h3>
        <p class="rulesli"><b><i>Hive/Board</i></b>-The Hive is your game letter pool </p>
        <p class="rulesli"><b><i>Center_letter/Center Hive</i></b>-Refers to the letter in the center of the hive and is indicated in yellow. It must be used in the construction of any word </p>
        <p class="rulesli"><b><i>Pangram</i></b>-A special type of word that incorporates every letter in the hive at least once! We track your pangrams in the game stats. It should be noted that not all boards necessarily have pangrams by default</p>
        <p class="rulesli"><b><i>Perfect Pangram</i></b>-A special type of pangram where each letter is used exactly once! Worth 7 extra points or double points (functionality and tracking under construction!) </p>
        <p class="rulesli"><b><i>Bingo</i></b>A special Hive/Board !All seven letters in the puzzle are used to start at least one word in the word list (functionality and tracking under construction!) </p>
        <p class="rulesli rowgenius" ><b><i>Rating: &#127891 &#127891Genius</i></b>-Scoring equal to 90% of total_points or above </p>
        <p class="rulesli rowamazing"><b><i>Rating: &#127891Amazing</i></b>-Scoring equal to 80% of total_points or above </p>
        <p class="rulesli rowgreat"><b><i>Rating: &#128029 &#128029 &#128029Great</i></b>-Scoring equal to 70% of total_points or above </p>
        <p class="rulesli rownice"><b><i>Rating: &#128029 &#128029Nice</i></b>-Scoring equal to 60% of total_points or above </p>
        <p class="rulesli rowsolid"><b><i>Rating: &#128029Solid</i></b>-Scoring equal to 50% of total_points or above </p>
        <p class="rulesli rowgood"><b><i>Rating:Good</i></b>-Scoring equal to 40% of total_points or above </p>
        <p class="rulesli rowmovingup"><b><i>Rating:Moving up</i></b>-Scoring equal to 30% of total_points or above </p>
        <p class="rulesli rowgoodstart"><b><i>Rating:Good start</i></b>-Scoring equal to 20% of total_points or above </p>
        <p class="rulesli rowgbeginner"><b><i>Rating:Beginner</i></b>-Starting rank. Scoring equal to 19% or below </p>
    </div>
    <div id="hintsgridcontainer">
        <h3 class="hintheader">Now for the ACTUAL HINTS</h3>
        <h5>Game Stats Revealed!</h5>
        <p class="rulesli">Your letters are :<b>{{session["letters"]}}</b></p>
        <p class="rulesli">Your center letter is :<b>{{session["center_letter"]}}</b></p>
        <p class="rulesli">There is/are :<b>{{number_of_pangrams}} pangrams in this board</b></p>
        <p class="rulesli">Total Words for this board:<b>{{session["num_valid_words"]}}</b></p>
        <p class="rulesli">Total Points for this board:<b>{{session["total_points"]}}</b></p>
        <p class="rulesli rowgenius">You need to score:<b>{{rating_thresholds["Genius"]}} points for  &#127891  &#127891 Genius</b></p>
        <p class="rulesli rowamazing">You need to score:<b>{{rating_thresholds["Amazing"]}} points for  &#127891 Amazing</b></p>
        <p class="rulesli rowgreat">You need to score:<b>{{rating_thresholds["Great"]}} points for &#128029 &#128029 &#128029 Great</b></p>
        <p class="rulesli rownice">You need to score:<b>{{rating_thresholds["Nice"]}} points for &#128029 &#128029 Nice</b></p>
        <p class="rulesli rowsolid">You need to score:<b>{{rating_thresholds["Solid"]}} points for &#128029 Solid</b></p>
        <p class="rulesli rowgood">You need to score:<b>{{rating_thresholds["Good"]}} points for Good</b></p>
        <p class="rulesli rowmovingup">You need to score:<b>{{rating_thresholds["Moving up"]}} points for Moving up</b></p>
        <p class="rulesli rowgoodstart">You need to score:<b>{{rating_thresholds["Good start"]}} points for Good start</b></p>
        <h3 class="hintheader">Words per letter for your current Hive</h3>
        <table id="gamehistorytable" class="table table-hover table-sm table-bordered">
            <thead id="gamehistorythead">
                <th class="gamehistorycol" scope="col">Letter:</th>
                <th  class="gamehistorycol" scope="col">Number of words</th> </thead>
                {% for key,value in num_valid_words_by_letter.items() %}
                <tr><th class="gamehistorycol" scope="col">{{key}}:</th>
                    <td>{{value}}</td>
                </tr>
        {% endfor %}
        </table>

       <!-- here is num valid words by letter {{num_valid_words_by_letter}}

       here is num valid words by by letter .items {{num_valid_words_by_letter.items()}} -->


    </div>

</div>

<p>Thanks for browsing!</p>
    
{%endblock%}
